.rotate-header {
  position: relative;
  transform: rotate(317deg) skew(-31deg);
  transform-origin: left bottom;
}

.rotate-text {
  position: relative;
  transform: rotate(355deg) skew(23deg);
  left: -20px;
  bottom: -24px;
  width: 50px !important;
  vertical-align: bottom;
}

.rotate-header .rotated-border::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 320px;
  height: 1px;
  border: 1px solid #9ca3af;
  transform: rotate(-5deg);
  transform-origin: left bottom;
}

.rotate-header .rotated-background {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 36px;
  height: 367px;
  background-color: #e5e7eb;
  transform: skew(58deg) rotate(445deg);
  transform-origin: left bottom;
  z-index: -2;
}



/* .rotate {
  height: 375px;
  white-space: nowrap;
  padding: 0 !important;
}

.rotate .header-content {
  position: relative;
  top: 0;
  left: 187px;
  height: 100%;
  transform: skew(-45deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  display: flex; 
  align-items: center;
}

.rotate .header-content > span {
  transform: skew(45deg) rotate(315deg);
  position: absolute;
  bottom: 30px;
  left: -5px;
  display: inline-block;
  width: 100%;
  width: 85px;
  text-align: left;
  white-space: nowrap;
} */
