@tailwind base;
@tailwind components;
@tailwind utilities;

/* .th-rotate-border {
  position: relative;
}
.th-rotate-border:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    transform: rotate(45deg);
  }
.th-rotate-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  transform: rotate(45deg);
} */
