@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate {
  position: relative;
  white-space: nowrap;
  padding: 0 !important;
}

.rotate .header-content {
  position: relative;
  top: 0;
  left: 187.9px; 
  width: 70px;
  height: 100%;
  transform: skew(-45deg);
  overflow: hidden;
  border-left: 1px solid #9ca3af;
  padding-left: 6px;
}
.starter .header-content {
  margin-bottom: -5px;
  font-size: 18px;
}
.rotate .header-content > .sort{
  margin-left: 17px;
  transform: skew(45deg) rotate(314deg);
}
.rotate .header-content > span {
  transform: skew(45deg) rotate(315deg);
  position: absolute;
  bottom: 40px;
  left: -12px;
  display: inline-block;
  width: 85px;
  text-align: left;
  white-space: nowrap;
  font-weight: 500;
  font-size: 0.6rem;
  z-index: 1;
}

.rotate .header-background {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 70px;
  height: 378px; 
  /* background-color: #e5e7eb; */
  transform: skew(-45deg);
  transform-origin: left bottom;
  z-index: -2;
}

